# ``OK_SAVING_PART1``

## 패키지 로드

In [1]:
import os
import pandas as pd
import numpy as np
import pymongo
import time
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
import gc
import datetime
import pymongo
import pyreadr
import re
from dateutil.relativedelta import relativedelta
from sspipe import p, px
import pyarrow

## DB 커넥션 생성 및 날짜데이터 생성(1개월 전, 2개월 전:당월기준)
: 데이터가 실제 수신되는 것은 당월 초이고, 사용하는 데이터는 전월기준이므로 전월과 2개월전 데이터를 사용함

In [2]:
# before_Date, current_Date 생성
engine = create_engine('mysql://ID:PASSWORD@IP:PORT/DB?charset=utf8')
engine2 = create_engine('mysql://ID:PASSWORD2@IP2:PORT2/DB2?charset=utf8')
connection = pymongo.MongoClient("192.168.101.13", 27017)
before_Date = (datetime.datetime.now() - relativedelta(months=1)).strftime(format="%Y-%m-%d")|p(re.sub, "(-|[0-9]+$)", "",px)
current_Date = (datetime.datetime.now() - relativedelta(months=0)).strftime(format="%Y-%m-%d")|p(re.sub, "(-|[0-9]+$)", "",px)

In [3]:
print(before_Date)
print(current_Date)

202208
202209

In [5]:
filelists = 'Z:\\XXX\\XX XXXXX\\XXXXXXXXX건\\'+os.listdir('Z:\\XXX\\XX XXXXX\\XXXXXXXX건\\')[-1]

In [6]:
filelists = 'G:/내 드라이브/work/XXXXXXX/XXXXXXX/'+os.listdir('G:/내 드라이브/work/XXXXXXX/XXXXXXX/')[-1]

In [10]:
if re.search(current_Date, filelists)!=None :
    SAMPLE_SISE = pd.read_parquet(filelists)

In [11]:
SAMPLE_SISE = SAMPLE_SISE.loc[:,["NUM","MIN_PRICE","PRICE",	"MAX_PRICE"]]
SAMPLE_SISE = SAMPLE_SISE.rename(columns = {'MIN_PRICE':"ETC1", "PRICE":"ETC2", "MAX_PRICE":"ETC3"})

In [12]:
KB_SISE

                     NUM    ETC1      ETC2    ETC3
0        G20160002444854   85000   90000.0   95000
1        G20160002444903   85000   90000.0   95000
2        G20160002444913   85000   90000.0   95000
3        G20160002444877   85000   90000.0   95000
4        G20160002444879   85000   90000.0   95000
...                  ...     ...       ...     ...
9886234  G20160002484959  270000  297500.0  315000
9886235  G20160002485044  270000  297500.0  315000
9886236  G20160002484927  270000  297500.0  315000
9886237  G20160002485006  270000  297500.0  315000
9886238  G20160002485052  210000  227500.0  237500

[9886239 rows x 4 columns]

In [13]:
if 2>3 :
    SAMPLE_SISE = pd.DataFrame(connection.hanjongseon.Total_POP9.find({}, {"_id":0}))
    SAMPLE_SISE = SAMPLE_SISE.loc[:,["NUM","LOWER_MEAN_PRICE","GENERAL_MEAN_PRICE",	"UPPER_MEAN_PRICE"]]
    SAMPLE_SISE = SAMPLE_SISE.rename(columns = {'LOWER_MEAN_PRICE':"ETC1", "GENERAL_MEAN_PRICE":"ETC2", "UPPER_MEAN_PRICE":"ETC3"})

In [15]:
gc.collect()

49

## 수도권, 기타지역 모집단 데이터 불러오기

In [16]:
import polars as pl
uri = 'mysql://ID:PASWWORD@IP:PORT/1234567'

In [17]:
query1 = """SELECT PNU, SIDO, SGG, EMD, RI, SAN, BUN1, BUN2, BLD_NAME, 
                         DONG_NAME, HO_NAME, BLD_DATE, EV, STRUC,ROOF, FLOOR, PRIV_AREA,
                         PUB_AREA,SUM_AREA, POP_TYPE, PRICE, PRICE_MAX,
                         PRICE_MIN, SCORE, NUM,NA_TYPE FROM DB.DATA"""
query2 = """SELECT PNU, SIDO, SGG, EMD, RI, SAN, BUN1, BUN2, BLD_NAME, 
                         DONG_NAME, HO_NAME, BLD_DATE, EV, STRUC,ROOF, FLOOR, PRIV_AREA,
                         PUB_AREA,SUM_AREA, POP_TYPE, PRICE, PRICE_MAX,
                         PRICE_MIN, SCORE, NUM,NA_TYPE FROM DB.DATA_EXP"""

In [18]:
A = datetime.datetime.now().date() | p(str, px)
A = re.sub("-", "", A)[:6]
current_data = "DATA_ORI_"+A+".parquet"

In [20]:
if sum([re.search(current_data, x)!=None for x in os.listdir("G:/내 드라이브/work/OOOOOOOOO/")])==0 :
    pop_info = pl.concat([pl.read_sql(query1, uri), pl.read_sql(query2, uri)])
    pop_info.write_parquet("G:/내 드라이브/work/OOOOOOOO/DATA_ORI_"+A+".parquet")
else :
    pop_info = pl.read_parquet("G:/내 드라이브/work/OOOOOOO/DATA_ORI_"+A+".parquet")
#del pop_info1,pop_info2

In [21]:
total_data = data1.to_pandas()
del data1
gc.collect()

330

In [22]:
total_data = total_data.rename(columns = {"PRICE":"PRICE_GEN","PRICE_MIN":"PRICE_LOW", "SCORE":"P_GRADE", "POP_TYPE":"USE_NAME"})

In [23]:
total_data.head()

,PNU,SIDO,SGG,EMD,RI,SAN,BUN1,BUN2,BLD_NAME,DONG_NAME,...,PRIV_AREA,PUB_AREA,SUM_AREA,USE_NAME,PRICE_GEN,PRICE_MAX,PRICE_LOW,P_GRADE,NUM,NA_TYPE
0,1111010100-100010000,서울특별시,종로구,청운동,None,1,0001,0000,청운벽산빌리지,2동,...,187.49,79.36,266.85,BILLA,NaN,NaN,NaN,None,G20160000000032,price.na
1,1111010100-100030000,서울특별시,종로구,청운동,None,1,0003,0000,인텔빌라,C동,...,234.06,62.33,296.39,BILLA,206000.0,211000.0,202000.0,B,G20160000000066,None
2,1111010100-100030000,서울특별시,종로구,청운동,None,1,0003,0000,인텔빌라,C동,...,233.64,62.60,296.24,BILLA,206000.0,210000.0,202000.0,B,G20160000000067,None
3,1111010100-100030000,서울특별시,종로구,청운동,None,1,0003,0000,인텔빌라,B동,...,233.64,62.66,296.30,BILLA,206000.0,210000.0,202000.0,B,G20160000000068,None
4,1111010100-100030000,서울특별시,종로구,청운동,None,1,0003,0000,인텔빌라,B동,...,233.46,62.84,296.30,BILLA,206000.0,210000.0,202000.0,B,G20160000000069,None

## USE NAME 할당

In [24]:
total_data.loc[total_data.USE_NAME=='APT', 'USE_NAME'] = "ooo"
total_data.loc[total_data.USE_NAME=='BILLA', 'USE_NAME'] = "oo"
total_data.loc[total_data.USE_NAME=='OFFICE', 'USE_NAME'] = "oooo"

In [ ]:
total_data.USE_NAME.value_counts()

## ddddd 데이터

In [26]:
exp = pd.DataFrame(connection.hanjongseon["임시저장_AUCTION_FULL_TABLE2_"+current_Date+"월"].find({}, {"_id":0}))
exp = exp.loc[exp.RESULT_BIDING!="유찰", :]
exp = exp.loc[exp.APPRAISAL_PRICE!="4746794007244308480",:]
NUM_REFER = pd.DataFrame(connection.hanjongseon["NUM_REFER"].find({}, {"_id":0}))

In [ ]:
exp.head()

In [28]:
exp = exp.merge(NUM_REFER[["COURT_NUM", "ORI_ADDRESS"]], how='left')
exp.loc[exp.COURT_ADDRESS.isnull(), "COURT_ADDRESS"] = exp.loc[exp.COURT_ADDRESS.isnull(), "ORI_ADDRESS"]
exp = exp.loc[:,['NUM', "CASE_NUM", "COURT_ADDRESS", "DATA_TYPE", "INITIAL_DATE", "APPRAISAL_PRICE", "BIDING_DATE", "BIDING_PRICE"]]
exp = exp.sort_values("BIDING_DATE", ascending=False).drop_duplicates('NUM').reset_index(drop=True)

In [29]:
total_data.loc[total_data.PRICE_GEN.isnull(), 'SERVICE_NA_COMMENT'] = "dddddddddd dddddddddd"

In [30]:
Total_table = total_data.merge(exp, how='left')

In [31]:
len(Total_table)

16015797

In [33]:
Total_table = Total_table.merge(data1, how='left').reset_index(drop=True)

In [34]:
del(data1)
gc.collect()

32

In [ ]:
Total_table.head(1000)

In [36]:
len(Total_table)

16015797

In [37]:
Total_table = Total_table.sort_values(["NUM", "ETC2"], ascending=[True, False]).drop_duplicates('NUM').reset_index(drop=True)

In [38]:
len(Total_table)

16015797

In [ ]:
Total_table.head()

In [40]:
Total_table.to_parquet("G:/내 드라이브/work/ooooooooo/oooooooo_DATA_PART1.parquet")